<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<head th:fragment="head">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/community.js"></script>
</head>
</body>
</html>
